@import "./variables.scss";

.main-content-container.error
{
	height: 300px;
	padding: $spacing-lead-tail-default 0 $spacing-lead-tail-default 0;
	text-align: center;

	h1
	{
		font-size: 3rem;
		margin: 0 0 50px 0;
	}
}
