@import "./variables.scss";

footer
{
	background: #eeeeee;
	overflow: hidden;
	padding: $padding-thick;

	div.grid-container
	{
		display: grid;
		grid-template-columns: 3fr 150px 150px;
		grid-column-gap: $margin-thick;
		margin: 0 auto $margin-default auto;
		max-width: 950px;

		@media screen and (max-width: #{map-get($breakpoints, "tablet")})
		{
			display: block;
		}

		.text
		{
			position: relative;

			div.logo
			{
				@media screen and (max-width: #{map-get($breakpoints, "tablet")})
				{
					text-align: center;
				}

				img.logo
				{
					height: 30px;
					position: relative;
					left: -5px;
					top: -5px;

					@media screen and (max-width: #{map-get($breakpoints, "tablet")})
					{
						left: 0;
						top: 0;
					}
				}
			}
		}
	
		.links,
		.external-links
		{
			padding: 0;

			@media screen and (max-width: #{map-get($breakpoints, "tablet")})
			{
				text-align: center;
			}

			h2
			{
				font-weight: 600;
			}

			@media screen and (max-width: #{map-get($breakpoints, "tablet")})
			{
				h2
				{
					display: none;
				}
			}

			ul
			{
				list-style: none;
				margin-bottom: $margin-thick;
				padding: 0;

				li
				{
					display: block;
					padding: 0;
					margin: 0;
					
					@media screen and (max-width: #{map-get($breakpoints, "tablet")})
					{
						display: inline-block;
						padding: 0 $margin-button/2;
					}
				}
			}
		}
	}

	.copyright
	{
		font-size: 11px;
		text-align: center;
		width: 100%;
	}
}
