@import "./variables.scss";

.focus-container
{
	height: 600px;
	margin-bottom: $spacing-lead-tail-thin;
	position: relative;

	.artwork
	{
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
		z-index: -1;

		.screenshot-container
		{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			height: 100%;

			@media screen and (max-width: #{map-get($breakpoints, "desktop")})
			{
				grid-template-columns: 1fr 1fr;
			}

			@media screen and (max-width: #{map-get($breakpoints, "tablet")})
			{
				grid-template-columns: 1fr;
			}

			.column-1,
			.column-2,
			.column-3
			{
				background-size: 100% auto;
				animation-duration: 600s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
			}

			.column-1
			{
				background-image: url("../image/screenshots-column-1.jpg");
				animation-name: bg-animation-1;
			}

			.column-2
			{
				background-image: url("../image/screenshots-column-2.jpg");
				animation-name: bg-animation-2;

				@media screen and (max-width: #{map-get($breakpoints, "tablet")})
				{
					display: none;
				}
			}

			.column-3
			{
				background-image: url("../image/screenshots-column-3.jpg");
				animation-name: bg-animation-3;

				@media screen and (max-width: #{map-get($breakpoints, "desktop")})
				{
					display: none;
				}
			}

			@keyframes bg-animation-1
			{
				from { background-position: 0 0; }
				to { background-position: 0 -3000%; }
			}

			@keyframes bg-animation-2
			{
				from { background-position: 0 500px; }
				to { background-position: 0 3000%; }
			}

			@keyframes bg-animation-3
			{
				from { background-position: 0 0; }
				to { background-position: 0 -3000%; }
			}
		}

		.cover
		{
			background: rgba(0, 0, 0, 0.6);
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	.focus
	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 100;

		.logo
		{
			margin-bottom: $margin-thick;
			text-align: center;
	
			img
			{
				max-width: 400px;
				width: calc(100% - 20px);
			}
		}

		.text
		{
			color: white;
			font-size: 16px;
			margin: 0 auto 0 auto;
			max-width: 580px;
			min-width: 300px;
			padding: $padding-default;

			.free
			{
				margin-top: $margin-thick * 2;
				text-align: center;
			}
		}
	}
}

.forms-container
{
	display: grid;
	grid-template-columns: 5fr 4fr;
	grid-column-gap: $margin-default;
	justify-items: center;
	margin: 0 auto $spacing-lead-tail-thin auto;
	max-width: 800px;
	width: 100%;
}

.web-form-container,
.api-form-container
{
	background: $background-color-box;
	border-radius: $border-radius-default;
	display: block;
	padding: $padding-thick;

	h1
	{
		// margin-bottom: $margin-thick;
		text-align: center;
	}

	label
	{
		display: block;
		margin-bottom: $margin-default;
		text-align: center;
	}

	.button-container
	{
		text-align: center;

		button
		{
			margin-left: $margin-button;
			margin-right: $margin-button;
		}
	}
}

.web-form-container
{
	position: relative;

	.advanced-container
	{
		bottom: 25px;
		left: 40px;
		position: absolute;

		#showAdvanced
		{
			font-size: 0.6rem;
		}
	}

	.option
	{
		display: none;
	}
}
