@import "./variables.scss";

.focus-container
{
	height: 500px;
	margin-bottom: $spacing-lead-tail-thin;
	position: relative;

	.artwork
	{
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
		z-index: -1;

		.screenshot-container
		{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			height: 100%;

			.column-1,
			.column-2,
			.column-3
			{
				background-size: 100% auto;
				animation-duration: 600s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
			}

			.column-1
			{
				background-image: url("../image/screenshots-column-1.jpg");
				animation-name: bg-animation-1;
			}

			.column-2
			{
				background-image: url("../image/screenshots-column-2.jpg");
				animation-name: bg-animation-2;
			}

			.column-3
			{
				background-image: url("../image/screenshots-column-3.jpg");
				animation-name: bg-animation-3;
			}

			@keyframes bg-animation-1
			{
				from { background-position: 0 0; }
				to { background-position: 0 -3000%; }
			}

			@keyframes bg-animation-2
			{
				from { background-position: 0 500px; }
				to { background-position: 0 3000%; }
			}

			@keyframes bg-animation-3
			{
				from { background-position: 0 0; }
				to { background-position: 0 -3000%; }
			}
		}

		.cover
		{
			background: rgba(0, 0, 0, 0.6);
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	.focus
	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 100;

		.logo
		{
			margin-bottom: $margin-thick;
			text-align: center;
	
			img
			{
				max-width: 400px;
				width: calc(100% - 20px);
			}
		}

		.text
		{
			color: white;
			font-size: 16px;
			margin: 0 auto 0 auto;
			max-width: 600px;
			min-width: 300px;
			padding: $padding-default;

			.free
			{
				margin-top: $margin-thick * 2;
				text-align: center;
			}
		}
	}
}

.web-form-container
{
	background: $background-color-box;
	border-radius: $border-radius-default;
	display: block;
	margin: $margin-default auto 50px auto;
	padding: $padding-thick;
	width: 320px;

	h1
	{
		margin-bottom: $margin-thick;
		text-align: center;
	}

	label
	{
		display: block;
		margin-bottom: $margin-default;
		text-align: center;
	}

	#showAdvanced
	{
		font-size: 0.8rem;		
	}

	.advanced
	{
		display: none;
	}

	button[type="submit"]
	{
		display: block;
		margin: 0 auto 0 auto;
	}
}