@import "./normalize.scss";

@import "./variables.scss"; // Must be imported first.
@import "./mixins.scss"; // Must be imported after variables.

@import "./404.scss";
@import "./500.scss";
@import "./base.scss";
@import "./buried.scss";
@import "./error.scss";
@import "./form.scss";
@import "./contact.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./index.scss";
@import "./privacy_policy.scss";
@import "./terms_of_service.scss";
@import "./web_api_key_activated.scss";
@import "./web_api_key_requested.scss";
@import "./web_view.scss";

.main-content-container
{
	min-width: 375px;
}

.clickable
{
	cursor: pointer;
}

.no-margin
{
	margin: 0
}
