@import "./variables.scss";

.main-content-container.stats
{
	padding: $spacing-lead-tail-default 0 $spacing-lead-tail-default 0;
	text-align: center;

	h1
	{
		font-size: 3rem;
		margin: 0 0 50px 0;
	}

	.stats
	{
		border: 1px solid $border-color-default;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0 auto $spacing-lead-tail-thin auto;
		max-width: 1280px;
	}

	.api-keys-container
	{
		border: 1px solid $border-color-default;
		margin: 0 auto $spacing-lead-tail-thin auto;
		max-width: 1280px;

		.api-keys
		{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
	
			div
			{
				padding: $padding-thin;
				word-wrap: break-word;
			}
		}
	}

	.recent-container
	{
		border: 1px solid $border-color-default;
		margin: 0 auto $spacing-lead-tail-thin auto;
		max-width: 1280px;

		.recent
		{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			div
			{
				padding: $padding-thin;
				word-wrap: break-word;

				a
				{
					white-space: normal;
				}
			}
		}
	}
}