@import "./variables.scss";

.main-content-container.web-api-key-activated
{
	padding: $spacing-lead-tail-thin $padding-default $spacing-lead-tail-thin $padding-default;

	h1
	{
		font-size: 2.5rem;
		line-height: 1.5em;
		text-align: center;
	}

	p
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
		width: 100%;
	}
}
