{% extends "base.html" %}

{% block body %}
{% include "header.html" %}
{% if data.job_id is defined %}
<div class="main-content-container buried">
	<form id="form" method="get">
		<button id="delete" class="button" type="button">Delete</button>
		<button id="kick" class="button" type="button">Retry</button>
	</form>
	<div class="data">
		{{data}}
	</div>
	<script>
		$("#delete").on("click", (e)=>
		{
			$("#form").prop("action", "/web/buried/delete/{{ data.job_id }}");
			$("#form").submit();
		});

		$("#kick").on("click", (e)=>
		{
			$("#form").prop("action", "/web/buried/kick/{{ data.job_id }}");
			$("#form").submit();
		});
	</script>
</div>
{% else %}
<div class="main-content-container buried">
	<div class="notice">
		No buried jobs!
	</div>
</div>
{% endif %}
{% include "footer.html" %}
{% endblock %}
