<footer>
	<div class="grid-container">
		<div class="text">
			<div class="logo">
				<a href="/"><img class="logo" src="/static/image/www2png-logo.png" alt="Www2png Logo"></a>
			</div>
			<p>
				WWW2PNG is built using <a href="https://www.rigidbit.com/">RigidBit</a>, a self-contained micro-blockchain which anchors to all major public blockchains. WWW2PNG anchors to <a href="https://www.ethereum.org/">Ethereum</a>.
			</p>
			<p>
				WWW2PNG is a completely free service. We do not share or monetize user data.
			</p>
			<p>
				You can support WWW2PNG by continuing to use our service and by sharing us with your friends!
			</p>
		</div>
		<div class="links">
			<ul>
				<li><h2>WWW2PNG</h2></li>
				<li><a href="/api/help">API Help</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="https://github.com/RigidBit/www2png">GitHub</a></li>
				<li><a href="/privacy_policy">Privacy Policy</a></li>
				<li><a href="/terms_of_service">Terms of Service</a></li>
			</ul>
		</div>
		<div class="external-links">
			<ul>
				<li><h2>Links</h2></li>
				<li><a href="https://www.archive3.org/">Archive3</a></li>
				<li><a href="https://www.chaincap.net/">ChainCap</a></li>
				<li><a href="https://www.rigidbit.com/">RigidBit</a></li>
				<li><a href="https://www.rigidvid.com/">RigidVid</a></li>
			</ul>
			<a class="twitter-follow-button" href="https://twitter.com/www2png?ref_src=twsrc%5Etfw" data-show-count="false">Follow @www2png</a>
		</div>
	</div>
	<div class="copyright">
		Copyright <i class="far fa-copyright"></i> 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script> WWW2PNG.com.  All rights reserved.
	</div>
</footer>
