<footer>
	<a href="/"><img class="logo" src="/{{ dirs.image_dir }}/www2png-logo.png" alt="Www2png Logo"></a>
	<div class="text">
		<p>
			WWW2PNG is built using <a href="https://www.rigidbit.com/" target="_blank">RigidBit</a>, a self-contained micro-blockchain which anchors to all major public blockchains. WWW2PNG anchors to <a href="https://www.ethereum.org/" target="_blank">Ethereum</a>.
		</p>
		<p>
			WWW2PNG is a completely free service. We do not share or monetize user data.
		</p>
		<p>
			You can support WWW2PNG by continuing to use our service and by sharing us with your friends!
		</p>

		<div class="links">
			<ul>
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="/privacy_policy">Privacy Policy</a></li>
				<li><a href="/terms_of_service">Terms of Service</a></li>
			</ul>
			<a class="twitter-follow-button" href="https://twitter.com/www2png?ref_src=twsrc%5Etfw" data-show-count="false">Follow @www2png</a>
		</div>
	</div>
	<div class="copyright">
		Copyright <i class="far fa-copyright"></i> 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script> RigidBit, LLC.
	</div>
</footer>
