{% extends "base.html" %}

{% block body %}
{% include "header.html" %}
<div class="main-content-container web-view">
	<div class="screenshot">
		<h2>Screenshot</h2>
		<div class="screenshot-container">
			{% if data.screenshot_available %}
				<a href="/web/image/{{data.request_id}}" target="_blank"><img class="screenshot" src="/web/image/{{data.request_id}}" alt="Screenshot {{data.request_id}}"></a>
			{% elif data.queued %}
				<img class="screenshot pending" src="/{{dirs.image_dir}}/pending.svg" alt="Screenshot Pending">
			{% else %}
				<img class="screenshot unavailable" src="/{{dirs.image_dir}}/trash-can.png" alt="Screenshot Unavailable">
			{% endif %}
		</div>
	</div>
	<div class="details">
		<h2>Details</h2>
		<div class="details-container">
			<div class="metric detail request_id">Request ID</div><div class="value detail request_id"><a href="/web/view/{{data.request_id}}">{{data.request_id}}</a></div>
			<div class="metric detail url">URL</div><div class="value detail url"><a href="{{data.url}}" target="_blank">{{data.url}}</a></div>
			<div class="metric detail timestamp">Timestamp</div><div class="value detail timestamp"><script>const date = new Date({{data.timestamp}} * 1000);document.write(date.toLocaleString());</script></div>
			<div class="metric detail status">Status</div><div class="value detail status">{{data.status}}</div>
			<div class="metric detail proof">Blockchain Proof</div><div class="value detail proof">{% if data.proof_available %} available {% else %} pending {% endif %}</div>
			{% if data.proof_available or data.screenshot_available %}
			<!-- <div class="metric detail download">Download</div> -->
			<div class="value detail download">
			{% if data.screenshot_available %}
			<a class="proof button" href="/web/image/{{ data.request_id }}?download=true" target="_blank"><i class="fas fa-download icon"></i>Download Screenshot</a>
			{% endif %}
			{% if data.proof_available %}
			<a class="proof button" href="/web/proof/{{ data.request_id }}" target="_blank"><i class="fas fa-download icon"></i>Download Proof</a>
			{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
<script>
$(document).ready(function()
{
	if("{{data.status}}" === "pending")
	{
		setTimeout(function()
		{
			location.reload();
		}, 5000);
	}
	else if("{{data.status}}" === "available" && "{{data.proof_available}}" !== "True")
	{
		setTimeout(function()
		{
			location.reload();
		}, 300000);
	}
});
</script>
{% include "footer.html" %}
{% endblock %}
